@model Examen_Abpos.Models.DB.Actividad

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_LayoutAgente.cshtml";
}

<h1>Detalle de Actividad</h1>
<hr class="my-4" />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Duracion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionLlamada)-Minutos
        </dd>
        <dt class = "col-sm-2">
            Descripción 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripLlamada)
        </dd>
        <dt class = "col-sm-2">
            ¿Resuelto?
        </dt>
        <dd class = "col-sm-10">
            @{ 
                if (Model.Resuelto)
                {
                    <span class="alert alert-info">Resuelto</span>
                }else{
                    <span class="alert alert-danger">No Resuelto</span>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.NombreTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.IdActividad">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
