@model Examen_Abpos.Models.DB.Actividad

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_LayoutAgente.cshtml";
}

<h1>Detalle</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionLlamada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionLlamada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoLlamada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoLlamada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripLlamada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripLlamada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resuelto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.IdActividad">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
