@model IEnumerable<Examen_Abpos.Models.DB.Actividad>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAgente.cshtml";
}
<h1 class="display-4">Inicio Agente</h1>
<hr class="my-4" />
<a class="btn btn-primary btn-lg btn-block" asp-action="AgregarRegistro" asp-controller="Agente">Agregar Registro</a>
<hr class="my-4" />
<div class="text-right form-inline">
    <form method="get" action=@Url.Action("Index","Agente")>
        <div class="btn-group" role="group">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Ordenar por
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li> @Html.ActionLink("Resuelto", "Index", new { orden = ViewBag.ordenResuelto })</li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("Consulta", "Index", new { orden = ViewBag.ordenConsulta })</li>
                <li role="separator" class="divider"></li>
                <li>@Html.ActionLink("Reclamo", "Index", new { orden = ViewBag.ordenReclamo })</li>
            </ul>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.IdTipoNavigation.NombreTipo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.DuracionLlamada Minutos</h6>
                        <p class="card-text">@item.DescripLlamada</p>
                        @if (Convert.ToBoolean(item.Resuelto))
                        {
                            <span class="alert alert-info">Resuleto</span>
                        }
                        else
                        {
                            <span class="alert alert-danger">No resuelto</span>
                        }
                        <a asp-action="Detalle" asp-route-id="@item.IdActividad" class="card-link">Detalle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>